/* welcome page */
.wrap-welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 300px;
}
.welcome {
    display: flex;
    width: 800px;
    height: 250px;
    background-color: rgba(33, 33, 33, 0.9);
}
.welcome .wrap-register-btn, .welcome .wrap-login-btn {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.welcome a {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.welcome a:hover {
    text-decoration: none;
}
.welcome .btn {
    width: 100%;
    font-size: 22px;
}
