* {
    margin: 0;
    padding: 0;
}

.min-height500 {
    min-height: 500px;
}

.clearfix::after {
    display: block;
    content: '';
    clear: both
}
.cursor-pointer {
    cursor: pointer;
}
a.green {
    color: darkgreen;
}
a.yellow {
    color: darkorange;
}
a.darkblue{
    color: darkblue;
}